
* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -50px;
}

.footer, .push {
height: 50px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.linkButton {
  background-color: hsl(43, 81%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5dda2", endColorstr="#dda517");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f5dda2), to(#dda517));
  background-image: -moz-linear-gradient(top, #f5dda2, #dda517);
  background-image: -ms-linear-gradient(top, #f5dda2, #dda517);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5dda2), color-stop(100%, #dda517));
  background-image: -webkit-linear-gradient(top, #f5dda2, #dda517);
  background-image: -o-linear-gradient(top, #f5dda2, #dda517);
  background-image: linear-gradient(#f5dda2, #dda517);
  border-color: #dda517 #dda517 hsl(43, 81%, 40%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
  -webkit-font-smoothing: antialiased;
}


a {
	target: _self;
}

h1 {
	  font-family: Ubuntu Mono;
	    font-weight: 500; 
}

h3 {
 font-family: Ubuntu Mono;
	    font-weight: 500; 	
}


#elicit {
	  font-family: Ubuntu Mono;
	  font-weight: 600;
	  font-size: 2em;
	  margin-top: .75em;
	  margin-left: .5em;
	  color: #FFFAFA;
	  position: relative;
}

#elicitFooter {
	  font-family: Ubuntu Mono;
	  font-weight: 600;
	  font-size: 1.25em;
	  margin-left: .5em;
	  
}

#menuCrow {
	margin-top: .5em;
	margin-left: .5em;
	position: relative;
}

#loginCrow {
	height: 45%;
	width: 45%;
	margin-left: 1.5em;
}



